body {
  background-color: black;
}
.filtered {
  width: 150px;
}

img {
  animation: myAnimation 5s infinite linear;
  /* animation-fill-mode: forwards; */
  position: absolute;
}

@keyframes myAnimation {
  0% {
    top: 0%;
    left: 20%;
    /* transform: rotate(-360deg); */
  }
  0% {
    animation-timing-function: steps(1, end);
  }

  25% {
    top: 60%;
    left: 89%;
    /* transform: rotate(360deg); */
  }

  25% {
    animation-timing-function: steps(1, end);
    filter: hue-rotate(60deg);
  }
  50% {
    top: 88%;
    left: 30%;
    /* transform: rotate(-360deg); */
  }
  50% {
    animation-timing-function: steps(1, end);
    filter: hue-rotate(120deg);
  }
  75% {
    top: 40%;
    left: 0%;
    /* transform: rotate(360deg); */
  }
  75% {
    animation-timing-function: steps(1, end);
    filter: hue-rotate(180deg);
  }

  100% {
    top: 0%;
    left: 20%;
    /* transform: rotate(-360deg); */
  }
}
